*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    background-color: #0c111b;
    position: relative;
    font-family: roboto,sans-serif;
}

/* NAVIGATION BAR */
.nav-bar{
    display: flex;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 4%;
    background-color: #0c111b;
    z-index: 0;
    display: flex;
    align-items: center;
}
.logo{
    height: 50px;
}
.nav-links{
    margin-top: 20px;
    display: flex;
    list-style: none;
}
.nav-items a{
    text-decoration: none;
    margin-left: 20px;
    text-transform: capitalize;
    color: white;
    opacity: 0.9;
}
.nav-items a:hover{
    color: #1f80e0;
}
.rt-container{
    display: block;
    margin-left: auto;
}
.search-box{
    border: none;
    border-bottom: 1px solid #aaa;
    background: transparent;
    outline: none;
    height: 30px;
    color: white;
    width: 250px;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
    transition: 0.5s ;
}
.search-box:focus{
    width: 400px;
    border-color: #1f80e0;
}
.sub-btn{
    background: rgb(255, 215, 0, 25%);
    height: 30px;
    padding: 0 20px;
    color: #C39B00;
    border-radius: 10px;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-weight: 550;
    font-size: 12px;
    margin: 0 10px;
    cursor: pointer;
}
.login-btn{
    background-color: #252833;
    height: 30px;
    border-radius: 10px;
    padding: 0 20px;
    border: none;
    outline: none;
    color: white;
    opacity: 0.9;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 550;
    text-decoration: none;
    cursor: pointer;
}
.login-btn:hover{
    transform: scale(1.1);
    opacity: 1;
}
/* NAVIGATION BAR ENDS */

/* SLIDER-STARTS */
.slides-cont{
    position: relative;
    width: 100%;
    height: auto;
    padding: 20px 0;
    overflow-x: hidden;
    margin-top: 90px;
}
.slides{
    display: flex;
    width: 92%;
    height: 100%;
    position: relative;
    margin: auto;
    background: rgb(0,0,0,0.1);
}
.slider{
    flex: 0 0 auto;
    margin-right: 30px;
    position: relative;
    background: rgba(0,0,0,0.5);
    border-radius: 5px;
    width: 100%;
    height: 100%;
    left: 0;
    transition: 1s;
    overflow: hidden;
}
.slider img{
    width: 70%;
    min-height: 100%;
    object-fit: cover;
    display: block;
    margin-left: auto;
}
.slider-content{
    position: absolute;
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, #030b17 80%, #0c111b00);
    color: #fff;
    z-index: 2;
}
.movie-title{
    padding-left: 50px;
    text-transform: capitalize;
    margin-top: 80px;
}
.movie-desc{
    width: 80%;
    line-height: 30px;
    padding-left: 50px;
    margin-top: 30px;
    opacity: 0.8;
}
/* SLIDER-ENDS */

/* CARDS-STARTS */
.video-main{
    position: relative;
    width: 92%;
    margin: auto;
    height: 10vw;
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
}
.video-card{
    position: relative;
    min-width: calc(100%/5 - 10px);
    width: calc(100%/5 - 10px);
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    background: #030b17;
}
.video-card-image,
.card-video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-video{
    position: absolute;
}
.video-card:hover .video-card-image{
    display: none;
}
/* CARDS-ENDS */

/* MOVIES RECOMMANDED */
.title{
    text-transform: capitalize;
    color: white;
    opacity: 0.9;
    padding-left: 4%;
    font-size: 22px;
    font-weight: 300px;
}
.movi-list{
    width: 100%;
    height: 220px;
    position: relative;
    margin: 10px 0 20px;
}
.cards-cont{
    position: relative;
    width: 92%;
    padding-left:10px ;
    height: 220px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    overflow-x: auto;
    overflow-y: visible;
    scroll-behavior: smooth;
}
.cards-cont::-webkit-scrollbar{
    display: none;
}
.cards{
    position: relative;
    min-width: 150px;
    width: 150px;
    height: 200px;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 10px;
    transition: 0.5s;
    background: #030b17;
}
.card-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cards:hover{
    transform: scale(1.1);
}
.cards:hover .card-body:hover{
    opacity: 1;
}
.card-body{
    opacity: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: linear-gradient(to bottom, rgb(4,8,15,0),#192133 90%);
    padding: 10px;
    transition: 0.5s;
}
.name{
    color: white;
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
    margin-top:60% ;
}
.des{
    color:white ;
    font-size: 10px;
    opacity: 0.8;
    font-weight: 500;
    margin: 11px 0;
}
.watch-btn{
    position: absolute;
    width: 100%;
    text-transform: capitalize;
    background: none;
    border: none;
    font-weight: 500;
    text-align: right;
    color: rgb(255, 225,225,0.5);
    cursor: pointer;
    padding: 10px 5px;
    border-radius: 5px;

    margin: 5px -12px;
}
.watch-btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 5px;
    height: 35px;
    width: 35px;
    background-image: url(./images/add.png);
    background-size: cover;
    transform: scale(0.4);
}
.watch-btn:hover{
    color: white;
}
.pre-btn,
.nxt-btn{
    position: absolute;
    top: 0;
    width: 5%;
    height: 100%;
    z-index: 2;
    border: none;
    cursor: pointer;
}
.pre-btn{
    left: 0;
    background: linear-gradient(to right, #0c111b 0%, #0c111b);
}

.nxt-btn{
    right: 0;
    background: linear-gradient(to right, #0c111b 0%, #0c111b);
}

.pre-btn img,
.nxt-btn img{
    width: 15px;
    height: 20px;
    opacity: 0;
}

.pre-btn:hover img,
.nxt-btn:hover img{
    opacity: 1;
}

/* LANGUAGES */
.lang{
    position: relative;
    width: 92%;
    margin: auto;
    height: 10vw;
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
}
.lang-card{
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    min-width: calc(100%/5 - 10px);
    width: calc(100%/5 - 10px);
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    background: #030b17;
}
.footer{
    margin-top: 80px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;

}
.footer-links
{
    margin: 100px;
    display: flex;
    color: #fff;
    gap:300px;
}
.footer-links div p{
    color: #486172;
    padding: 10px 0px 0px;
    font-weight: 500;
    cursor: pointer;
}
.footer-credits
{
    padding: 0px 40px ;
    display: flex;
    color: #fff;
}
.hotstar-apps
{
    padding: 0px 0px 0px 700px;
    float: right;
}
.hotstar-apps img
{
    width: 150px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    h1 {
        display: block;
        font-size: 1em;
        margin-block-start: 0em;
        margin-block-end: 0em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
    }
    p {
        font-size: 10px;
    }
    .logo
    {
        height: 35px;
    }
    .nav-links
    {
        display: none;
    }
    .search-box
    {
        font-size: 12px;
    }
    .rt-container
    {
        margin: 30px 0px 0px 60px ;
    }
    .sub-btn
    {
        margin: 10px 25px;
    }
    .movie-title{
        padding-left: 20px;
        text-transform: capitalize;
        margin-top: 10px;
    }
    .movie-desc{
        width: 80%;
        line-height: 13px;
        padding-left: 20px;
        margin-top: 10px;
        opacity: 0.8;
    }
    .footer-links
    {
        display: block;
    }
    .footer-links div {
        padding: 20px;
    }
    .footer-credits
    {
        display: block;
        text-align: center;
    }
    .hotstar-apps
    {
        padding: 0px;
        margin: 20px;
        width: auto;
        text-align: center;
    }
    .hotstar-apps img 
    {
        width: 120px;
    }
  }